<meta name="after" content=".group-list-filter">

<div class="invocado">
    <h2>Invocado</h2>
    <!--<div class="menu-dropdown" ng-class="{open: invocadoShown}" ng-click="toggleInvocado()" menu-title="invocado">
        <div class="menu-title ng-binding">Invocado</div>
        <div class="menu-indicator"></div>
        <div class="menu-contents" ng-transclude="">
            <div class="page-list-level ng-scope ng-isolate-scope" ng-show="levels.length" pages="pages">
                <ul class="page-list-level ng-scope" ng-repeat="level in levels track by $index">
                    <li ng-repeat="page in getPages(level)">
                        <a class="ng-binding" ng-click="alert(1)" href="#one">One</a>
                        <a class="ng-binding" ng-click="alert(2)" href="#two">Two</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>-->
</div>
